body{
    background-color:lightgrey
}
h3{
    color:rgb(120,234,88)
}
h2{
    color:#BA521F
}
h1{
    color:rgb(120,234,88)
}

p {
    color:red;
    background-color:green
}

img {
    height:100px;width:100px
}
